.margint {
    margin-top: 100px;
    margin-left: 300px;
}

.length {
    width: 500px;
}

.background-color {
    background-color: rgb(39, 39, 39);
}

.text-color {
    color: greenyellow;
}

.text {
    margin-bottom: 0px;
    text-decoration-line: underline;
    color: white;
    margin-left: 40% ;
    vertical-align: middle;
}
.inline-block{
    display: inline-block;
    
}
body {
    background-color: rgb(26, 26, 26);
}

.textcolor {
    color: rgb(0, 160, 40);
}

.cursor {
    cursor: pointer;
}

.width {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.align {
    text-align: center;
}

table {
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}
#dd{
    margin-left: 10px;
}
.dd{
    align-items: center;
}

.h3f{
    margin-top: 30px;
}